@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body{
    background-image: linear-gradient(to bottom right,#b6444e,#f4d9a4);
    
}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;

}

.calculator{
    position:relative;
    height: auto;
    width: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    background-color: #000;

    
}
.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #07060a;
    border: solid black 0.5px;
    color:white;
    border-radius: 5px;
    width: 100%;
    height: 65%;
    padding: 40px;
    text-align: right;
}




input[type=button] {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
    
}

input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

input[type=button]:hover{
    transform: scale(1.11);
}
#btn-vlt{
    background: #2f1a38;
    color:#74356c;
}
#btn-green{
    color : #e3f2f9;
    background:#1d3037;
}
#btn-clr{
    color: #ca6d86;
    background: #2d151d;
}
#btn-eql{
    height: 130px;
    background: #233624;
    color: #fbfff8;
}
